In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./data/gemstone.csv")

In [4]:
data.drop(labels = ["id"], axis=1,inplace=True)

In [5]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [11]:
x = data.drop(labels = ["price"],axis = 1)

In [8]:
y = data[["price"]]

In [9]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [16]:
categorical_columns = x.select_dtypes(include = "object").columns

In [17]:
Numerical_columns = x.select_dtypes(exclude = "object").columns

In [18]:
Numerical_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')